<div class="d-flex justify-content-center align-content-center align-items-center min-vh-100">
  <div class="card">
    <div class="card-header">Signup</div>
    <form class="card-body" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 form-group">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" id="usernameInput" class="form-control" formControlName="username">
      </div>
      <div class="mb-3 form-group">
        <label for="password1Input" class="form-label">Password</label>
        <input type="password" id="password1Input" class="form-control" placeholder="" formControlName="password1">
      </div>
      <div class="mb-3 form-group">
        <label for="password2Input" class="form-label">Password confirm</label>
        <input type="password" id="password2Input" class="form-control" placeholder="" formControlName="password2">
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-secondary">Signup</button>
      </div>
    </form>
  </div>
</div>
