<div class="d-flex justify-content-center align-content-center align-items-center min-vh-100">
  <div class="card">
    <div class="card-header">Login</div>
    <form class="card-body" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 form-group">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" id="usernameInput" class="form-control" formControlName="username">
      </div>
      <div class="mb-3 form-group">
        <label for="password1Input" class="form-label">Password</label>
        <input type="password" id="password1Input" class="form-control" placeholder="" formControlName="password">
      </div>
      <div class="mb-3 form-check-inline">
        <input type="checkbox" id="checkbox" class="form-check-input" formControlName="remember_me">
        <label for="checkbox" class="form-check-label">remember me</label>
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-secondary">Login</button>
      </div>
      <span>You have no account? <a routerLink="/auth/signup">Signup</a></span>
    </form>
  </div>
</div>
